* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    font-family: 'lato';
    font-size: 16px;
    background: #fff;

}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

header {
    width: 100%;
    height: 600px;
    background-image: url('../img/portada.jpg');
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, hsl(180, 4%, 14%, 0.5), #bdc3c7d1), url(..img/portada.jpg) repeat; */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, hsl(180, 4%, 14%, 0.5), #bdc3c7ca), url(../img/portada.jpg); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
}

header .menu {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    font-weight: 300;
}

header .menu a {
    display: inline-block;
    padding: 15px 10px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

header .menu a:hover {
    text-decoration: underline;
}

header .contenedor-textos-header {
    margin: 150px 0;
    text-align: center;
}

header .contenedor-textos-header .titulo-header {
    font-size: 100px;
    /* font-size: clamp(16px, 3vw, 100px); */
    color: #fff;
    margin-bottom: 5px;
}

header .contenedor-textos-header .linea {
    width: 600px;
    margin: auto;
    height: 3px;
    background: #15a4fa;
    margin-bottom: 20px;
}

header .contenedor-textos-header .subtitulo-header {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}

header .contenedor-textos-header .call-to-action {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #15a4fa;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

header .contenedor-textos-header .call-to-action:hover {
    background: #15a4fa;
    color: #fff;
}

.efecto {
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

main .acerca-de {
    background: #f0f3f5;
    padding: 45px 0px;
    text-align: center;
}

main .acerca-de .contenedor-texto-acerca .titulo-acerca {
    font-size: 24px;
    font-weight: 900;
    color: #999;
    margin-bottom: 20px;
}

main .acerca-de .contenedor-texto-acerca .parrafo-acerca {
    color: #999;
    font-weight: 600;
    margin-bottom: 20px;
}

main .iconos {
    padding: 30px auto;
}

.contenedor-iconos {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;

}


.contenedor-iconos .icono-individual {
    width: 33%;
    margin: 20px auto;
}

.contenedor-iconos .icono-individual h3 {
    margin: 10px auto;
}


main .portafolio {
    background: #f0f3f5;
    padding: 60px 0;

}


main .contenedor-textos-portafolio {
    text-align: center;
}

main .contenedor-textos-portafolio .titulo-portafolio {
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 20px;

}

main .contenedor-textos-portafolio .parrafo-portafolio {
    font-weight: normal;
    color: #999;
    margin-bottom: 60px;
}

main .portafolio .contenedor-portafolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .portafolio .contenedor-portafolio img {
    width: 33%;
    /* margin: auto; */
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


main .portafolio .contenedor-portafolio img:hover {
    opacity: .6;
}

/* footer */

footer {
    width: 100%;
    height: 600px;
    padding: 60px 0px;
    /* background-image: url('../img/footer.webp'); */
    background-image: #141E30;
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer .footer-textos {
    text-align: center;
    color: #fff;

}

footer .footer-textos h2 {
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 15px;
}


footer .footer-textos .titulo-parrafo {
    font-weight: 300;
    color: #999;
    margin-bottom: 45px;
}


footer .formulario {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

footer .formulario .nombre-contacto,
.nombre-correo,
.mensaje {
    display: block;
    padding: 15px 20px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid #999;
    color: #999;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-family: 'lato';
    font-weight: 300;
    font-size: 14px;
}

footer .formulario .mensaje {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-width: 150px;

}

footer .formulario .derecha {
    display: flex;
    justify-content: flex-end;
}

footer .formulario .boton-envio {
    display: inline-block;
    padding: 10px 20px;
    background: none;
    border: 1px solid #15a4fa;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

footer .formulario .boton-envio:hover {
    background: #15a4fa;
    color: #fff;
    cursor: pointer;
    transition: 0.15s ease-in;
    -webkit-transition: 0.15s ease-in;
    -moz-transition: 0.15s ease-in;
    -ms-transition: 0.15s ease-in;
    -o-transition: 0.15s ease-in;
}



/* query */

@media screen and (max-width:600px) {
    header .menu {
        justify-content: center;
        flex-wrap: wrap;
    }

    header .contenedor-textos-header {
        margin: 100px 0px;
    }
}

@media screen and (max-width:540px) {
    header .contenedor-textos-header .titulo-header {
        font-size: 60px;
    }

    header span {
        display: none;
    }

    .contenedor-iconos {
        flex-direction: column;
    }

    .contenedor-iconos .icono-individual {
        width: 90%;
        margin: auto;
    }

    main .portafolio .contenedor-portafolio img {
        width: 49%;
    }
}


.centrado {
    height: 100vh;
    background: #9994;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    overflow: hidden;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
    box-sizing: border-box;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    background: currentColor;
    margin: -3.6px 0 0 -3.6px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 62.62742px;
    left: 62.62742px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 67.71281px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 70.90963px;
    left: 48.28221px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 70.90963px;
    left: 31.71779px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 67.71281px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 62.62742px;
    left: 17.37258px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12.28719px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}